<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./info.css">
</head>
<body>
    <div class="container">
        <div class="col-6 z-index-99">
            <div class="info">
                <!-- info 1 -->
                <div class="product-info active">
                    <h1>
                        CREA<span class="text-yellow">TIVE</span>  
                    </h1>
                    <h1>
                        DE<span class="text-yellow">SIGN</span> 
                    </h1>  
                    <span>Collection 2020</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo, accusamus modi
                        autem porro possimus veniam cupiditate repellat vitae qui odit fuga nisi adipisci
                        animi velit optio a nam recusandae.
                    </p>
                    <button>Shop now</button>
                </div>
                <!-- end info 1 -->
                <!-- info 2 -->
                <div class="product-info">
                    <h1>
                        CREA<span class="text-yellow">TIVE</span>  
                    </h1>
                    <h1>
                        DE<span class="text-yellow">SIGN</span> 
                    </h1>  
                    <span>Collection 2020</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo, accusamus modi
                        autem porro possimus veniam cupiditate repellat vitae qui odit fuga nisi adipisci
                        animi velit optio a nam recusandae.
                    </p>
                    <button>Shop now</button>
                </div>
                <!-- end info 2 -->
                <!-- info 3 -->
                <div class="product-info">
                    <h1>
                        CREA<span class="text-yellow">TIVE</span>  
                    </h1>
                    <h1>
                        DE<span class="text-yellow">SIGN</span> 
                    </h1>  
                    <span>Collection 2020</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo, accusamus modi
                        autem porro possimus veniam cupiditate repellat vitae qui odit fuga nisi adipisci
                        animi velit optio a nam recusandae.
                    </p>
                    <button>Shop now</button>
                </div>
                <!-- end info 3 -->
                <!-- info 4 -->
                <div class="product-info">
                    <h1>
                        CREA<span class="text-yellow">TIVE</span>  
                    </h1>
                    <h1>
                        DE<span class="text-yellow">SIGN</span> 
                    </h1>  
                    <span>Collection 2020</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo, accusamus modi
                        autem porro possimus veniam cupiditate repellat vitae qui odit fuga nisi adipisci
                        animi velit optio a nam recusandae.
                    </p>
                    <button>Shop now</button>
                </div>
                <!-- end info 4 -->
            </div>
        </div>
    </div>
   
   
</body>
</html>